html {
    background-color: lightskyblue;
}

h1 {
    color: #0e2246;
}

.image-container {
    position: relative;
    width: 100%; /* Ajusta al tamaño de tus imágenes */
    align-items: center;
    align-content: center;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80%;
    height: auto;
}

.hidden {
    display: none;
}

button {
    display: block;
    visibility: visible;
    align-content: right;
}
