{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indicadores Sociales de Argentina</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <h1>Indicadores Sociales de Argentina</h1>
    <button onclick="toggleImages()">Next</button>
    <br>
    <div class="image-container">
        <img src="{% static 'employment_graph.png' %}" alt="Employment Graph" class="image" id="img1">
        <img src="{% static 'inflation_graph.png' %}" alt="Inflation Graph" class="image hidden" id="img2">
    </div>
    

    <script src="{% static 'scripts/main.js' %}"></script>
</body>
</html>
