body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: lightslategray;
}

h1 {
    color: darkslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-container {
    position: relative;
    display: inline-block;
}

#kpiImage {
    width: 90%;
    max-width: 1200px;
    height: auto;
    border: solid 1px slategray;
    background-color: white;
    border-radius: 15px;
    padding: 5%;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}